<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joshua Duke | FE Developer</title>

  <!-- Font Awesome cdn -->
  <script src="https://kit.fontawesome.com/60179d3629.js"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&display=swap" rel="stylesheet">

  <!-- Styles  -->
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>

  <section id="container"> 
    <aside>
      <h2>Joshua Duke</h2>
      <p> <a id="skip_to_main" href="#main_about">Skip to main content</a> </p>
      <ul>
        <li> <a href="/">About</a> </li>
        <li> <a href="/resume">Resume</a> </li>
        <li> <a href="/portfolio">Portfolio</a> </li>
        <li> <a href="#">Timeline</a> </li>
        <li> <a href="#">Blog</a> </li>
        <li> <a href="/contact">Contact</a> </li>
        <li>
          <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="#"><i class="fab fa-github-square fa-2x"></i></a>
          <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fab fa-instagram-square fa-2x"></i></a>
        </li>
        <li><p>Copyright @ 2020</p></li>
      </ul>

    </aside>
</section>