<%- include ("../views/partials/header.ejs") %> 

<!-- <header>
  <div id="contact_header">

  </div>
</header> -->

<main id="contact">
  <section id="contact_sidebar">
    <h3>Find me here:</h3>
    <ul>
      <li> <a href=""><i class="fab fa-linkedin fa-3x"></i></a> </li>
      <li> <a href=""><i class="fab fa-github-square fa-3x"></i></a> </li>
      <li> <a href=""><i class="fab fa-twitter fa-2x"></i></a> </li>
      <li> <a href=""><i class="fab fa-instagram-square fa-3x"></i></a> </li>
    </ul>

  </section>

  <section id="contact_form">
    <h1>Ask me anything...</h1>
    <div >
      <form action="" method>
  
        <fieldset>
          <div class="split_two_rows"> 
            <input class="first_field" type="text" placeholder="Name">
            <input class="first_field" type="text" placeholder="Email">
          </div>  
        </fieldset>
  
    
        <fieldset>
          <input class="second_field" type="text" placeholder="Subject">
        </fieldset>
        
        <!-- Add google recaptcha for security -->

        <fieldset>
          <textarea placeholder="Message"></textarea>
        </fieldset>
        <button id="submit_btn">Submit</button>
      </form>
    </div>
  </section>
  
</main>


<%- include ("../views/partials/footer.ejs") %> 