<!-- <%- include ("../views/partials/header.ejs") %>  -->

<section id="contact_sidebar">
  <h1>hello</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, quasi quos! Iste tempore libero sequi perspiciatis debitis optio beatae! Necessitatibus adipisci animi quae dolor sapiente fuga, numquam illo? Odit maiores dolore consectetur, non eum nobis explicabo, libero distinctio consequatur assumenda fugiat sapiente dolorum animi nemo. Esse voluptas sapiente voluptate nihil, sed ad eveniet consectetur culpa aspernatur? Quaerat nostrum commodi rem officiis ipsa, similique sunt aspernatur recusandae corporis eius. Odit vel maxime exercitationem quo aliquid corporis dolorum aut officiis! Dignissimos, veniam aut? Quae nulla praesentium illum dolor qui et tempora vel voluptatum cum? Ut nemo fugit eos itaque laudantium. Sequi, possimus?</p>
</section>


<main id="contact">
  
  <!-- <section id="contact_form">
    <div >
      <h1>Ask me anything...</h1>
  
      <form action="" method>
  
        <fieldset>
          <div class="split_two_rows"> 
            <input class="first_field" type="text" placeholder="Name">
            <input class="first_field" type="text" placeholder="Email">
          </div>  
        </fieldset>
  
    
        <fieldset>
          <input class="second_field" type="text" placeholder="Subject">
        </fieldset>
        
        <fieldset>
          <textarea name="" id="" placeholder="message">
            
          </textarea>
        </fieldset>
        <input type="submit">
      </form>
    </div>
  </section> -->

  
</main>





<%- include ("../views/partials/footer.ejs") %> 