<%- include("../views/partials/header.ejs") %>

<section id="container"> 
  <aside>
    <h2>Joshua Duke</h2>
    <ul>
      <li>About</li>
      <li>Blog</li>
      <li>Projects</li>
      <li>Timeline</li>
      <li>Contact</li>
    </ul>
    <p>copyright @ 2020</p>
  </aside>
  
  <main>
    <div>
      <p>Joshua Duke</p>
      <h1>Front-End Developer</h1>
    </div>
    <div>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, ipsum! Error dolorum eaque cumque adipisci repellat consectetur libero repellendus magni debitis animi! Asperiores at dolorem debitis architecto deserunt voluptate quia ad. Nulla pariatur excepturi non, porro magni iure molestiae esse nesciunt earum ut quas fugiat, aliquid impedit maxime deserunt ratione ad vel, repudiandae aperiam! Vel consequuntur tempora officiis magni fuga ipsam. Voluptas cumque odit quae atque dolorum debitis eaque doloremque natus quis, a vitae, architecto sapiente accusantium animi! Exercitationem doloribus facere consectetur, quis tempora, sit, non sint eum corporis perferendis officiis similique quia consequatur reprehenderit itaque voluptatum error omnis? Voluptas.</p>
    </div>
  </main>
</section>


<%- include("../views/partials/footer.ejs") %>