<%- include("../views/partials/header.ejs") %>

<header  id="about_header">
  <p><span>Joshua Duke</span></p>
  <h1>Front-End Developer</h1>
  <p>Building responsive websites</p>
</header>

<main id="main_about">
  <section class="offset_nav about_container">
    <aside>
      <div>
        <p>Brief Introduction</p>
      </div>
    </aside>
    <section id="about">
      <p>
        Began learning web development as a self taught developer in 2018, through courses like Colt Steele's, <b>'title here'</b> and also going through freecodecamp's curriculum.
        <br>
        <br>
        In 2019 I enroll at Seneca College in order to go more in depth into technologies such as C++, SQL , Java, react and angular.
        <br>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque corporis consequuntur debitis tempore quam voluptatum repudiandae veritatis sapiente dolores facilis, ad deleniti id, obcaecati reprehenderit sequi officia numquam saepe? Excepturi vel aliquid nam autem ipsum quibusdam unde delectus minima, nihil vitae voluptatibus, in, libero voluptatum eum nostrum quo impedit! Cumque cum recusandae molestiae? Eius laborum sit mollitia iusto fuga suscipit obcaecati maxime repellat, veniam deserunt explicabo sed totam consequuntur, eveniet ratione unde, aut deleniti quibusdam. Facilis facere id cum at, consequuntur aliquid vel culpa dolore voluptates suscipit placeat molestias fugiat voluptatibus natus vero nostrum alias eligendi ab animi adipisci.
      </p>
    </section>
  </section>
  
  <section class="offset_nav about_container">
    <aside>
      <div>
        <p>My Goal</p>
      </div>
    </aside>
    <section id="about">
      <p>
        Become a fullstack developer.
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque corporis consequuntur debitis tempore quam voluptatum repudiandae veritatis sapiente dolores facilis, ad deleniti id, obcaecati reprehenderit sequi officia numquam saepe? Excepturi vel aliquid nam autem ipsum quibusdam unde delectus minima, nihil vitae voluptatibus, in, libero voluptatum eum nostrum quo impedit! Cumque cum recusandae molestiae? Eius laborum sit mollitia iusto fuga suscipit obcaecati maxime repellat, veniam deserunt explicabo sed totam consequuntur, eveniet ratione unde, aut deleniti quibusdam. Facilis facere id cum at, consequuntur aliquid vel culpa dolore voluptates suscipit placeat molestias fugiat voluptatibus natus vero nostrum alias eligendi ab animi adipisci.
      </p>
    </section>
  </section>
</main>

<section class="offset_nav" id="technical_skills">
  <div id="skills">
    <div>
      <i class="fas fa-desktop"></i>
      <p>HTML, CSS (Bootstrap, Foundation), JavaScript (React, Node, Express, MongoDB) ? You name it. I have it all covered!</p>
    </div>
    <div>
      <i class="fas fa-desktop"></i>
      <p>HTML, CSS (Bootstrap, Foundation), JavaScript (React, Node, Express, MongoDB) ? You name it. I have it all covered!</p>
    </div>
    <div>
      <i class="fas fa-desktop"></i>
      <p>HTML, CSS (Bootstrap, Foundation), JavaScript (React, Node, Express, MongoDB) ? You name it. I have it all covered!</p>
    </div>
    <div>
      <i class="fas fa-desktop"></i>
      <p>HTML, CSS (Bootstrap, Foundation), JavaScript (React, Node, Express, MongoDB) ? You name it. I have it all covered!</p>
    </div>
  </div>
</section>




<%- include("../views/partials/footer.ejs") %>