<%- include("../views/partials/header.ejs") %>

<header id="about_header">
  <h1>Front-End Developer</h1>
  <p>Building responsive websites</p>
</header>

<main class="offset_nav">
  <section id="about">
    <p>
      Currently studying Computer programming and analysis at Seneca College
      
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque corporis consequuntur debitis tempore quam voluptatum repudiandae veritatis sapiente dolores facilis, ad deleniti id, obcaecati reprehenderit sequi officia numquam saepe? Excepturi vel aliquid nam autem ipsum quibusdam unde delectus minima, nihil vitae voluptatibus, in, libero voluptatum eum nostrum quo impedit! Cumque cum recusandae molestiae? Eius laborum sit mollitia iusto fuga suscipit obcaecati maxime repellat, veniam deserunt explicabo sed totam consequuntur, eveniet ratione unde, aut deleniti quibusdam. Facilis facere id cum at, consequuntur aliquid vel culpa dolore voluptates suscipit placeat molestias fugiat voluptatibus natus vero nostrum alias eligendi ab animi adipisci.
    </p>
  </section>
</main>


<%- include("../views/partials/footer.ejs") %>