<%- include ("../views/partials/header.ejs") %> 

<h1 id="portfolio_id" align="center">List of my projects</h1>
<!-- Center with css -->

<section class="offset_nav" id="portfolio">

  <div class="project_container">
    <img src="/images/superHeroGame.png" alt="thumbnail image for superhero math game">
    <h3>SuperHero Math Game</h3>

    <section class="card_buttons">
      <a class="card_btn" href="#">Source Code</a>
      <a class="card_btn" href="#">Live Version</a>
    </section>
    <p>Tech used: <span>HTML, CSS3, JS</span></p>
  </div>

  <div class="project_container">
    <img src="/images/rpsls.png" alt="thumbnail image for Rock Paper Scissors game">
    <h3>Rock paper scissors </h3>

    <section class="card_buttons">
      <a class="card_btn" href="#">Source Code</a>
      <a class="card_btn" href="#">Live Version</a>
    </section>
    <p>Tech used: <span>HTML, CSS3, JS</span></p>
  </div>
</section>

<%- include ("../views/partials/footer.ejs") %> 