<%- include ("../views/partials/header.ejs") %> 


<main>
  <header>
    <h1>Joshua Duke work</h1>
  </header>
  <div>
   
  </div>
</main>
</section>

<%- include ("../views/partials/footer.ejs") %> 