<%- include ("../views/partials/header.ejs") %> 

<h1 align="center">List of my projects</h1>
<!-- Center with css -->

<section class="offset_nav" id="portfolio">

  <div class="project_container">
    <h3>SuperHero Math Game</h3>
    <img src="/images/superHeroGame.png" alt="">
    <p>Small description of the project</p>
  </div>

  <div class="project_container">
    <h3>Rock paper scissors </h3>
    <img src="/images/rpsls.png" alt="">
    <p>Small description of the project</p>
  </div>
</section>

<%- include ("../views/partials/footer.ejs") %> 