<%- include ("../views/partials/header.ejs") %> 

<h1 class="portfolio_padding">Resume</h1>

<section class="offset_nav" id="resume">
  <a id="resume_dwnl" href="">Download Resume</a>
  
  <img src="/images/resume.png" alt="">
</section>

<%- include ("../views/partials/footer.ejs") %> 