<%- include ("../views/partials/header.ejs") %> 

<main class="offset_nav">
  <h1>Resume</h1>
  <p> <a href="">Download a copy of my resume</a></p>
  <img src="/images/resume.png" alt="">
</main>


<%- include ("../views/partials/footer.ejs") %> 