<%- include ("../views/partials/header.ejs") %> 

<main>
  <h1>Resume</h1>
  <p> <a href="">Download a copy of my resume</a></p>
  <img src="/public/images/resume.png" alt="">
</main>


<%- include ("../views/partials/footer.ejs") %> 