//fonts

$header: 'Lato', sans-serif;
$text: 'Montserrat', sans-serif;

// color scheme

/* RGB */
$secondary: #CC998D;
$primary: #ECEBE4;
$medium: #14281D;
$primaryAcc: rgba(28, 110, 140, 1);
$secondaryAcc: rgba(39, 65, 86, 1);

/* Color Blindness */

$color1: rgba(206, 206, 207, 1);
$color2: rgba(246, 246, 231, 1);
$color3: rgba(92, 92, 86, 1);
$color4: rgba(63, 64, 132, 1);
$color5: rgba(50, 50, 80, 1);