@import "_navbar.scss";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  line-height:1.5rem;
}

header {
  text-align: center;
  height:15vh;
  padding:20px;
}

.split_two_rows{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

// ====== Contact ======

#contact_header{
  font-size:1.3em;
  text-transform:uppercase;
  margin-top:35px;
}

#contact{
  padding:20px;
  margin-left:170px;
  display: grid;
  grid-template-columns: 1fr 5fr;

  h1{
    font-size:2em;
    text-align:center;
    padding:20px;
  }
}

#contact_sidebar{
  @include lists();

  i{
    color: #000;
    // background-color:#000;
    transition: 0.3s all;
  }

  .fa-twitter{
    border:1px solid #000;
    color:#fff;
    background-color:#000;
    padding:4px;
    border-radius:3px;

    &:hover{
      background-color: rgb(29,161,242);
      border-color: rgb(29,161,242);
    }
  }

  .fa-instagram-square:hover{
    color:rgb(225,48,108);
  }

  .fa-github-square:hover{
    color:#24292E;
  }

  .fa-linkedin:hover{
    color:rgb(40,103,178);
  }
}

#contact_form{

  fieldset{
    border:none;
    padding:10px 0;
  
    input{
      padding:5px;
      border-radius: 3px;
      border: 1px solid #e4e4e4;

    }
    
    .first_field:nth-last-of-type(1){
      margin-left:10px;
    }
  
    .first_field:nth-last-of-type(2){
      margin-right:10px;
    }
  
    .second_field{
      width:100%;
    }
  }
  
  textarea{
    width:100%;
    height:200px;
    resize: none;
    border:1px solid #e4e4e4;
    border-radius: 3px;
  }

  #submit_btn{
    padding:10px 30px;
    border-radius: 3px;
    background-color:pink;
    cursor:pointer;
  }
}

