@import "_navbar.scss";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  line-height:1.5rem;
}

header {
  text-align: center;
  height:15vh;
  padding:20px;
}

.split_two_rows{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

// ====== Contact ======

#contact_header{
  font-size:1.3em;
  text-transform:uppercase;
  margin-top:35px;
}

#contact{
  padding:20px;
  margin-left:170px;
  display: grid;
  grid-template-columns: 1fr 5fr;

  h1{
    font-size:2em;
    text-align:center;
    padding:20px;
  }
}

#contact_sidebar{
  @include lists();
}

#contact_form{
  

  fieldset{
    border:none;
    padding:10px 0;
  
    input{
      padding:5px;
    }
    
    .first_field:nth-last-of-type(1){
      margin-left:10px;
    }
  
    .first_field:nth-last-of-type(2){
      margin-right:10px;
    }
  
    .second_field{
      width:100%;
    }
  
  }
  
  textarea{
    width:100%;
    height:200px;
    resize: none;
  }

  #submit_btn{
    padding:10px 30px;
    border-radius: 0;
    background-color:pink;
    cursor:pointer;
  }

}

