/* RGB */
/* Color Blindness */
#container aside {
  height: 100vh;
  padding: 20px;
  background-color: #1c6e8c;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#container aside ul {
  list-style-type: none;
}

#container aside ul li {
  padding: 12px 0;
  font-family: "Montserrat", sans-serif;
}

#container aside h2 {
  font-family: "Lato", sans-serif;
  padding: 20px 0;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #ECEBE4;
  letter-spacing: 2px;
  font-weight: normal;
}

#container aside a, #container aside p {
  color: #ECEBE4;
  letter-spacing: 1px;
  -webkit-transition: 0.3 all;
  transition: 0.3 all;
}

#container aside p {
  font-size: 0.9em;
}

#container aside a {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#container aside a:hover {
  color: #CC998D;
}

#container aside i {
  padding: 1px;
  border-radius: 2px;
}

#container aside i:hover {
  background-color: #fff;
  border-color: #fff;
}

#container aside .fa-twitter {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  padding: 6px 4px 3px 4px;
  border-radius: 2px;
  position: relative;
  top: -3px;
}

#container aside .fa-twitter:hover {
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: #fff;
}

/* RGB */
/* Color Blindness */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6rem;
}

body {
  background-color: #ECEBE4;
}

h1, h2, h3, h4 {
  font-family: "Lato", sans-serif;
  color: #274156;
}

a {
  text-decoration: none;
}

p {
  color: #14281D;
}

i {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

header {
  width: 100%;
  text-align: center;
  height: 15vh;
  padding: 20px;
}

.offset_nav {
  margin-left: 200px;
}

.split_two_rows {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#about {
  width: 90%;
}

#about_header {
  height: 30vh;
}

#main_about p {
  font-size: 1.2em;
}

#main_about .about_container {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

#technical_skills {
  padding: 40px 0;
}

#technical_skills #skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

#technical_skills #skills div {
  margin: 0 10px;
}

#technical_skills #skills i {
  font-size: 2em;
  color: #274156;
  padding: 10px 0;
}

#resume #resume_dwnl {
  width: 100%;
  padding: 20px;
  height: auto;
  background-color: #1c6e8c;
  color: #ECEBE4;
  border: 1px solid #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#resume #resume_dwnl:hover {
  color: #fff;
  background-color: #CC998D;
}

#resume img {
  padding: 20px 0;
}

.portfolio_padding {
  padding: 40px 0 20px 0;
  margin-left: 200px;
  text-align: center;
}

#portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px 0;
  margin-right: 10px;
}

.project_container {
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 2px;
  background-color: #1c6e8c;
}

.project_container h3 {
  text-align: center;
}

.project_container .card_buttons {
  padding: 20px 0;
  text-align: center;
}

.project_container .card_buttons .card_btn {
  color: #ECEBE4;
  border: 1px solid #14281D;
  border-radius: 2px;
  padding: 5px 10px;
  margin: 0 auto;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.project_container .card_buttons .card_btn:hover {
  color: #ECEBE4;
  background-color: #CC998D;
  border-color: #CC998D;
}

.project_container div {
  width: 1000px;
  height: auto;
  margin: 10px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}

#contact_header {
  font-size: 1.3em;
  text-transform: uppercase;
  margin-top: 35px;
}

#contact {
  padding: 80px;
  margin-left: 130px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
}

#contact_sidebar {
  padding-top: 70px;
}

#contact_sidebar ul {
  list-style-type: none;
}

#contact_sidebar ul li {
  padding: 12px 0;
  font-family: "Montserrat", sans-serif;
}

#contact_sidebar h3 {
  font-weight: normal;
  text-align: center;
  padding-bottom: 20px;
}

#contact_sidebar ul {
  text-align: center;
}

#contact_sidebar i {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#contact_sidebar .fa-linkedin, #contact_sidebar .fa-github-square, #contact_sidebar .fa-twitter, #contact_sidebar .fa-instagram-square {
  color: #274156;
}

#contact_sidebar .fa-linkedin:hover {
  color: #2867b2;
}

#contact_sidebar .fa-github-square:hover {
  color: #24292E;
}

#contact_sidebar .fa-twitter {
  color: #fff;
  background-color: #274156;
  padding: 4px;
  border-radius: 3px;
}

#contact_sidebar .fa-twitter:hover {
  background-color: #1da1f2;
}

#contact_sidebar .fa-instagram-square:hover {
  color: #e1306c;
}

#contact_form h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 20px 20px 20px 0;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

#contact_form fieldset {
  border: none;
  padding: 10px 0;
}

#contact_form fieldset input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
}

#contact_form fieldset input:focus {
  outline-color: #1c6e8c;
}

#contact_form fieldset .first_field:nth-last-of-type(1) {
  margin-left: 10px;
}

#contact_form fieldset .first_field:nth-last-of-type(2) {
  margin-right: 10px;
}

#contact_form fieldset .second_field {
  width: 100%;
}

#contact_form textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  resize: none;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}

#contact_form textarea:focus {
  outline-color: #1c6e8c;
}

#contact_form #submit_btn {
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #1c6e8c;
  color: #ECEBE4;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#contact_form #submit_btn:hover {
  background-color: #CC998D;
  color: #14281D;
}
/*# sourceMappingURL=index.css.map */